#outer {
    background: #b3c9be;
    height: 500px;
    width: 500px;
    position: fixed;
}

#drag {
    height: 30px;
    width: 90px;
    position: relative;
    color: #000000;
    text-align: center;
    line-height:30px;
    font-weight: bold;
    background-color: #5D0000;
    border-radius: 12px;

}



#drag2 {
    background-color: #9966ff;
    border-radius: 25px;
    height: 50px;
    width: 50px;;
    position: relative;
    
}

#drag3 {
    
    border-radius: 25px;
    height: 50px;
    width: 50px;
    position: relative;

}

.circle2 {
    background-color: #ffff66;
}

.circle2:hover {
    background-color: #4C4C1F;
}